spaces
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-classic
langchain-groq
chromadb
sentence-transformers
transformers
huggingface-hub
wget
pypdf
gradio
jinja2
pydantic
fastapi
starlette
uvicorn